### EJERCICIO

**ANÁLISIS DE PELÍCULAS MÁS VISTAS**


---

**Fuente del dataset:**

https://www.kaggle.com/datasets/khalidalam980/top-rated-movies-data-set

---

### **Actividad**
Este conjunto de datos contiene una vasta variedad de 10,000 películas excepcionales. Además abarca un amplio espectro de géneros, tramas cautivadoras e inolvidables personajes que han dejado una marca indeleble en el panorama cinematográfico global.

Cada entrada en este conjunto de datos revela información esencial, incluyendo el ID único de la película, los IDs de género asociados, el título, una sinopsis, la popularidad, la fecha de lanzamiento, el promedio de votos y la apreciación colectiva medida por el recuento de votos.

Utilizando tus conocimientos adquiridos en esta sesión obten lo siguiente:


*   El nombre de la película con mayor promedio de votos (vote_average)
*   El nombre de la película con menor promedio de votos (vote_average)
*   El promedio de votos de todas las películas (vote_count)
*   El nombre de la película más reciente del dataset (release_date)
*   El nombre de la película más popular de los años 90s (popularity, release_date).

---


**TIPS**
- Emplea las funciones de Numpy.
- Recuerda utilizar los operados OR (|) y AND (&) para las condiciones múltiples.
- Utiliza la función loc para ubicar un dato usando indices que puedes obtener con idxmax() y idxmin() junto a los corchetes para ubicar las columnas del dataframe.
- Para obtener el año de una fecha utiliza dt.year después del campo con tipo de dato datetime

Por ejemplo obtener las películas de los años 80s
```
movies_80s = movies[(movies["Year"] >= 1980) & (movies["Year"] <= 1989)]
```

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Cargar los datos desde el archivo CSV
df = pd.read_csv("MoviesTopRated.csv")
df

,Unnamed: 0,id,genre_ids,title,overview,popularity,release_date,vote_average,vote_count
0,0,238,"[18, 80]",The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",119.438,1972-03-14,8.7,18448
1,1,278,"[18, 80]",The Shawshank Redemption,Framed in the 1940s for the double murder of h...,90.415,1994-09-23,8.7,24376
2,2,240,"[18, 80]",The Godfather Part II,In the continuing saga of the Corleone crime f...,70.637,1974-12-20,8.6,11144
3,3,424,"[18, 36, 10752]",Schindler's List,The true story of how businessman Oskar Schind...,48.096,1993-12-15,8.6,14421
4,4,19404,"[35, 18, 10749]",Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",26.588,1995-10-20,8.6,4225
...,...,...,...,...,...,...,...,...,...
9995,9995,604563,"[35, 12, 28]",OSS 117: From Africa with Love,"1981. Hubert Bonisseur de la Bath, aka OSS 117...",9.245,2021-08-04,5.7,664
9996,9996,193687,"[878, 18]",Z for Zachariah,"In the wake of a nuclear war, a young woman su...",11.309,2015-08-13,5.7,856
9997,9997,14423,"[35, 28]",First Sunday,Durell and LeeJohn are best friends and bumbli...,8.188,2008-01-11,5.7,215
9998,9998,10154,"[35, 80, 10749]",Mickey Blue Eyes,An English auctioneer proposes to the daughter...,9.401,1999-08-16,5.7,502
9999,9999,440762,[35],Jay and Silent Bob Reboot,Jay and Silent Bob embark on a cross-country m...,13.206,2019-10-15,5.7,452

In [2]:
# Eliminamos la columna "Unnamed: 0"
# axis=1 elimina columnas / 0 elimina filas
df = df.drop("Unnamed: 0", axis=1)
df

,id,genre_ids,title,overview,popularity,release_date,vote_average,vote_count
0,238,"[18, 80]",The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",119.438,1972-03-14,8.7,18448
1,278,"[18, 80]",The Shawshank Redemption,Framed in the 1940s for the double murder of h...,90.415,1994-09-23,8.7,24376
2,240,"[18, 80]",The Godfather Part II,In the continuing saga of the Corleone crime f...,70.637,1974-12-20,8.6,11144
3,424,"[18, 36, 10752]",Schindler's List,The true story of how businessman Oskar Schind...,48.096,1993-12-15,8.6,14421
4,19404,"[35, 18, 10749]",Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",26.588,1995-10-20,8.6,4225
...,...,...,...,...,...,...,...,...
9995,604563,"[35, 12, 28]",OSS 117: From Africa with Love,"1981. Hubert Bonisseur de la Bath, aka OSS 117...",9.245,2021-08-04,5.7,664
9996,193687,"[878, 18]",Z for Zachariah,"In the wake of a nuclear war, a young woman su...",11.309,2015-08-13,5.7,856
9997,14423,"[35, 28]",First Sunday,Durell and LeeJohn are best friends and bumbli...,8.188,2008-01-11,5.7,215
9998,10154,"[35, 80, 10749]",Mickey Blue Eyes,An English auctioneer proposes to the daughter...,9.401,1999-08-16,5.7,502
9999,440762,[35],Jay and Silent Bob Reboot,Jay and Silent Bob embark on a cross-country m...,13.206,2019-10-15,5.7,452

In [41]:
# Convertir la columna "release_date" a tipo datetime
df["release_date"] = pd.to_datetime(df["release_date"])
df

,id,genre_ids,title,overview,popularity,release_date,vote_average,vote_count
0,238,"[18, 80]",The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",119.438,1972-03-14,8.7,18448
1,278,"[18, 80]",The Shawshank Redemption,Framed in the 1940s for the double murder of h...,90.415,1994-09-23,8.7,24376
2,240,"[18, 80]",The Godfather Part II,In the continuing saga of the Corleone crime f...,70.637,1974-12-20,8.6,11144
3,424,"[18, 36, 10752]",Schindler's List,The true story of how businessman Oskar Schind...,48.096,1993-12-15,8.6,14421
4,19404,"[35, 18, 10749]",Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",26.588,1995-10-20,8.6,4225
...,...,...,...,...,...,...,...,...
9995,604563,"[35, 12, 28]",OSS 117: From Africa with Love,"1981. Hubert Bonisseur de la Bath, aka OSS 117...",9.245,2021-08-04,5.7,664
9996,193687,"[878, 18]",Z for Zachariah,"In the wake of a nuclear war, a young woman su...",11.309,2015-08-13,5.7,856
9997,14423,"[35, 28]",First Sunday,Durell and LeeJohn are best friends and bumbli...,8.188,2008-01-11,5.7,215
9998,10154,"[35, 80, 10749]",Mickey Blue Eyes,An English auctioneer proposes to the daughter...,9.401,1999-08-16,5.7,502
9999,440762,[35],Jay and Silent Bob Reboot,Jay and Silent Bob embark on a cross-country m...,13.206,2019-10-15,5.7,452

#### Debes tomar captura desde este punto hasta la impresión de los resultados
#### Anota tu nombre abajo:
#### **Nombre:** Zarco Romero José Antonio

In [42]:
# El nombre de la película con mayor promedio de votos (vote_average)
indice_mayor_votos = df['vote_average'].idxmax()
# best_rated_movie_name = df.loc[indice_mayor_votos]["title"]
best_rated_movie_name = df.loc[indice_mayor_votos, "title"]
print(best_rated_movie_name)

The Godfather

In [43]:
# El nombre de la película con menor promedio de votos (vote_average)
indice_menor_votos = df['vote_average'].idxmin()
# worst_rated_movie_name = df.loc[indice_menor_votos]["title"]
worst_rated_movie_name = df.loc[indice_menor_votos, "title"]
print(worst_rated_movie_name)

Samson

In [44]:
# El promedio de votos de todas las películas (vote_count)
# average_vote_count = np.mean(df['vote_count'])
average_vote_count = df['vote_count'].mean()
print(average_vote_count)

1673.6643

In [50]:
# El nombre de la película más reciente del dataset (release_date)
# most_recent_movie_name = df.loc[df['release_date'].idxmax()]['title']
indice_mas_reciente = df['release_date'].idxmax()
most_recent_movie_name = df.loc[indice_mas_reciente, "title"]
# most_recent_movie_name = df.loc[indice_mas_reciente]["release_date"].year
print(most_recent_movie_name)

Heart of Stone

In [61]:
# El nombre de la película más popular de los años 90s (popularity, release_date)
# Filtra las películas entre el año 1990 y 1999
movies_90s = df[(df["release_date"].dt.year >= 1990) & (df["release_date"].dt.year < 2000)]
print(movies_90s)

         id        genre_ids                        title  \
1       278         [18, 80]     The Shawshank Redemption
3       424  [18, 36, 10752]             Schindler's List
4     19404  [35, 18, 10749]  Dilwale Dulhania Le Jayenge
10      497     [14, 18, 80]               The Green Mile
11      680         [53, 80]                 Pulp Fiction
...     ...              ...                          ...
9969  10861         [28, 53]                 Maximum Risk
9974  10723     [35, 80, 28]                  Bulletproof
9975   9292     [28, 12, 35]                  Hudson Hawk
9987   2565      [35, 10749]       Joe Versus the Volcano
9998  10154  [35, 80, 10749]             Mickey Blue Eyes

                                               overview  popularity  \
1     Framed in the 1940s for the double murder of h...      90.415
3     The true story of how businessman Oskar Schind...      48.096
4     Raj is a rich, carefree, happy-go-lucky second...      26.588
10    A supernatural tale set on death row in a Sout...      65.211
11    A burger-loving hit man, his philosophical par...      66.100
...                                                 ...         ...
9969  Alain Moreau's investigation into the death of...      13.250
9974  An undercover police officer named Rock Keats ...       9.754
9975  Eddie Hawkins, called Hudson Hawk has just bee...      17.840
9987  Hypochondriac Joe Banks finds out he has six m...       9.081
9998  An English auctioneer proposes to the daughter...       9.401

     release_date  vote_average  vote_count
1      1994-09-23           8.7       24376
3      1993-12-15           8.6       14421
4      1995-10-20           8.6        4225
10     1999-12-10           8.5       15763
11     1994-09-10           8.5       25678
...           ...           ...         ...
9969   1996-09-13           5.7         416
9974   1996-09-06           5.7         523
9975   1991-05-23           5.7         876
9987   1990-03-09           5.7         465
9998   1999-08-16           5.7         502

[1199 rows x 8 columns]

In [62]:
# Utiliza el nuevo dataframe movies_90s
indice_mas_popular = movies_90s['popularity'].idxmax()
most_popular_90s_movie_name = movies_90s.loc[indice_mas_popular, "title"]
print(most_popular_90s_movie_name)

Titanic

In [64]:
print(f"La película con mayor promedio de votos es {best_rated_movie_name}")
print(f"La película con menor promedio de votos es {worst_rated_movie_name}")
print(f"El promedio de votos de todas las películas es {average_vote_count}")
print(f"La película más reciente es {most_recent_movie_name}")
print(f"La película más popular de los 90s es {most_popular_90s_movie_name}")

La película con mayor promedio de votos es The Godfather
La película con menor promedio de votos es Samson
El promedio de votos de todas las películas es 1673.6643
La película más reciente es Heart of Stone
La película más popular de los 90s es Titanic